@font-face {
	font-family: BC;
	src: url(luckiest-guy.regular.ttf);
}

body {
	 background-image:url(images/bg/Web_page_background.v4.png);
	overflow: hidden;
	margin: 0;
	background-color: cyan;
	
}

#playbutton {
	z-index: 10;
	padding:10px;
	background-color: grey;
	font-family: bc;
	color: black;
	font-size: 50px;
	text-decoration: none;
}
#playbutton:hover{
	background-color:darkgrey;
}

.otherbuttons {
	background-color: grey;
	width: 100px;
	height: 100px;
	border-style: none;
}
button:hover {
	background-color: darkgrey;
}

#test {
	border-style: none;
	font-family: bc;
	height: 25px;
	background-color: #009b8c;
	width: 75px;
	text-align: center;
        line-height:25px;
        position:absolute;
        width:162.5px;
}
#test:hover{
	background-color: #027b70;
}

#play {
	padding: 0;
	z-index: 10;
	left: 0;
	right: 0;
	top: 50%;
	position: fixed;
	vertical-align: top;
	margin-top: 0;
	color: black;
	font-size: 30px;
	text-align: center;
}

#ps {
	font-family: bc;
	z-index: -1;
	left: 0;
	right: 0;
	top: 1px;
	position: fixed;
	vertical-align: top;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	color: black;
	font-size: 30px;
	background-color: cyan;
	text-align: center;
}

#div1 {
	display: inline-block;
	position: fixed;
	margin-top: -100px;
	margin-left: -100px;
	top: 40%;
	left: 50%;
	text-align: center;

}

#bgdiv {
	top:50%;
	position: absolute;
	width: 100px;
	height: 450px;
	margin:0;
	-ms-transform: translateY(-50%);
        transform: translateY(-50%);
}

#coins {
	display: block;
	background-repeat: no-repeat;
	height: 100px;
}

#coin {
	width:100px;
	margin:0;
	top:50%;
}

.option {
	width: 50px;
	height: 50px;
}

.ob {
	margin-top: 10px;
	top: 50%;
	left: 50%;
	text-align: center;
}

.moneytext {
	font-family: bc;
	color: gold;
	position: relative;
	bottom: 45px;
	left: 40px;
}
#hamster{
	width:162.5px;
	height:262px;
}
	
#iconbg{
	width:100%;
	height:100%;
	text-align:center;
	background-color:cyan;
	z-index:-1;
}
#Scorebox{
top: 75%;
	width:50%;
	left:25%;
	background-color:grey;
	font-family:bc;
	position:absolute;

}
